body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}
article img{
    display: block;
    margin: auto;
    width: 90%;
}


article{
    background-color: #FDD001 !important;
}
aside {
    background-color: #FDD001;
    color: gray;
}