/* CSS do tema do site */

/* Importações */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

* {
    box-sizing: border-box;
    outline: none;
    transition: .2s;
}

html,
body {
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: slategray;
    background-image: url('/static/img/bg01.png');
    background-position: top left;
    background-attachment: fixed;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    min-width: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#wrap>header {
    background-color: rgb(89, 162, 221);
    display: flex;
    flex-direction: column;
}

#wrap>header>div {
    display: flex;
    align-items: center;
}

#wrap>header>div img {
    height: 4rem;
    width: auto;
    display: block;
    margin: 0 .5rem;
}

#wrap>header>div h1 {
    margin: 0;
    color: #FFDE98;
    -webkit-text-stroke: .5px black;
    font-size: 2.5rem;
}

#wrap>header>form {
    background-color: #FFDE98;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px dotted white;
}

#wrap>header>form input,
#wrap>header>form button {
    font-family: inherit;
    font-size: inherit;
    padding: .25rem .5rem;
    border: none;
}

#wrap>header>form input {
    flex-grow: 1;
}

#wrap>header>form button {
    cursor: pointer;
    background-color: #ddd;
}

#wrap>header>form button:hover {
    cursor: pointer;
    background-color: #bbb;
}

#wrap>nav {
    background-color: rgb(50, 59, 68);
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#wrap>nav a {
    color: #ddd;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
}

#wrap>nav a:hover {
    color: rgb(50, 59, 68);
    background-color: #ddd;
}

#wrap>main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#wrap>main>article {
    background-color: white;
    padding: 0 1rem;
    flex-grow: 1;
}

#wrap>main>aside {
    background-color: #ccc;
    padding: 0 1rem;
    border-top: 1px dotted black;
}

#wrap>footer {
    background-color: rgb(50, 59, 68);
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrap>footer>a {
    font-size: 1.5rem;
    padding: .5rem;
    color: #ddd;
}

#wrap>footer a:hover {
    color: steelblue;
}

#wrap>footer>div {
    text-align: center;
    padding: 1rem 0;
}

#wrap>footer>div a {
    color: #ddd;
    text-decoration: none;
}

#wrap>footer>div small {
    display: block;
    font-size: 65%;
    margin-top: .25rem;
}

@media screen and (min-width: 575px) {

    #wrap>header {
        flex-direction: row;
        justify-content: space-between;
    }

    #wrap>header>div h1 {
        font-size: 2rem;
    }

    #wrap>header>form {
        border-top: none;
        border-left: 1px dotted white;
    }

    #wrap>header>form input,
    #wrap>header>form button {
        padding: .35rem .5rem;
    }

    #wrap>nav {
        justify-content: flex-end;
    }

    #wrap>nav a:first-child {
        margin-right: auto;
    }

}

@media screen and (min-width: 768px) {

    #wrap>main {
        flex-direction: row;
    }

    #wrap>main>aside {
        background-color: #ccc;
        padding: 0 1rem;
        min-width: 250px;
        max-width: 250px;
        border-top: none;
        border-left: 1px dotted black;
    }

}

.aside-grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.aside-article {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 90%;
}

.aside-article img {
    display: block;
    width: 4rem;
    height: auto;
    margin-right: .5rem;
}

.aside-article:hover {
    background-color: #eee;
}

@media (max-width: 499px) {
    .aside-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .aside-grid {
        grid-template-columns: 1fr 1fr;
    }

    .aside-article:nth-child(odd) {
        justify-self: center;
    }
}

@media (min-width: 768px) {
    .aside-grid {
        grid-template-columns: 1fr;
    }
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.small {
    font-size: small;
}