{% extends 'layout.html' %}

{% block article %}

<h2>Artigos Recentes</h2>

<div class="article-grid">

    {% for article in page.articles %}

    <div class="article-box" onclick="location.href = '/view/' + {{ article['art_id'] }}">
        <img src="{{ article['art_thumbnail'] }}" alt="{{ article['art_title'] }}">
        <div>
            <h4>{{ article['art_title'] }}</h4>
            <small>{{ article['art_resume'] }}</small>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block aside %}

<h3>Meu Aside</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

{% endblock %}