{% extends 'layout.html' %}

{% block article %}


<h2>Título do Article</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dignissimos expedita officiis libero molestias quos
    maxime natus itaque sunt culpa, saepe qui fuga beatae, eaque sequi odio voluptates vero cum!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio adipisci, fugit delectus enim tempore vero? Doloremque
    deleniti, aliquam voluptatem fugiat assumenda non enim repellat excepturi qui suscipit cumque recusandae vitae!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quas suscipit beatae. Culpa ea facilis distinctio
    ullam quibusdam voluptate at, fugit officia, totam ipsum numquam ipsa dicta, vero voluptas dolor!</p>

{% endblock %}

{% block aside %}

<h3>Meu Aside</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

{% endblock %}