<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    {# Faz a carga do CSS adicional caso exista #}
    {% if page.css %}
    <link rel="stylesheet" href="/static/css/{{ page['css'] }}">
    {% endif %}

    <link rel="shortcut icon" href="{{ page.site.favicon }}">

    {% if page.title == '' %}
    <title>{{ page.site.name }}</title>
    {% else %}
    <title>{{ page.site.name }} - {{ page.title }}</title>
    {% endif %}
</head>

<body>

    <div id="wrap">

        <header>

            <div>
                <a href="/"><img src="{{ page.site.logo }}" alt="Logotipo de {{ page.site.name }}"></a>
                <h1>{{ page.site.name }}</h1>
                <span id="btnUser" data-action="login">
                    <img src="/static/img/user.png" alt="Logue-se" referrerpolicy="no-referrer">
                </span>
            </div>

            <form action="/search" method="get">
                <input type="search" name="q" placeholder="Procurar...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

        </header>

        <nav>
            <a href="/">Início</a>
            <a href="/contacts">Contatos</a>
            <a href="/about">Sobre</a>
        </nav>

        <main>

            <article>
                {% block article %}{% endblock %}
            </article>

            <aside>
                {% block aside %}{% endblock %}
            </aside>

        </main>

        <footer>
            <a href="/"><i class="fa-solid fa-house fa-fw"></i></a>
            <div>
                © 2024 {{ page.site.owner }}
                <small>
                    <a href="/contacts">Faça contato</a>&nbsp;|&nbsp;<a href="/privacy">Políticas de Privacidade</a>
                </small>
            </div>
            <a href="#wrap"><i class="fa-solid fa-circle-up fa-fw"></i></a>
        </footer>

    </div>

    <script src="https://www.gstatic.com/firebasejs/10.13.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13.1/firebase-auth-compat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/layout.js"></script>
    {% if page.js %}
    <script src="/static/js/{{ page.js }}"></script>
    {% endif %}
</body>

</html>